.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
.header{
    background-image: url(img1.png);
    
    height: 800px;
}
.container{
    padding-top: 24px;
    padding-bottom: 28px;
}
.navbar-default{
    margin-bottom: -21px;
    color: aliceblue;
    background-color: black;
    margin-bottom: 0%;
    border-bottom-width: 0px;
}
.navbar-header{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.header{
    border-top-width: 0px;
    border-top-style: solid;
    padding-top: 22px;
    margin-top: -250px;
}
.p1 h1{
    /* padding-top: 22px; */
    /* margin-top: 15px; */
    margin-top: 384px;
    color: aliceblue;
    font-size:2cm;
    margin-left: 903px;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.p1 p{
    margin-left: 740px;
    font-size:large;
    text-align: center;
    margin-right: 50px;
}

.page2{
    background-color: rgb(228, 228, 228);
    display: flex;
    flex-direction: row;
   
}
.pg2_sec{
    margin-top: 136px;
}
.pg2_sec h1,h3{ 
    margin-top: 30px;
    text-align: center;

}
.btn1{
    margin-top: 30px;
    text-align: center;


}
.mockup1 img:hover{
    transform: scale(1.1);
    cursor: pointer;
    margin-left: 20px;

}
.img3 img{
    margin-left: 0cm;margin-top: 40px;height: 200;width: 300;margin-bottom: 40px
}

.read{
    padding: 20px;
    background-color:#E3F2FD;
    margin-left: 50%;
    
}
.section4{
    background-image: url(https://jolly-kalam-23776e.netlify.app/mytunes/img/section-bg.jpeg);
    color: antiquewhite;
    display: flex;
    flex-direction: row;
    
}
.sec4_img img{
   width: 750px; 
   height: 500px;
   padding: 30px; ;
}   
.section4{
    margin: 60px; 
}
.sec4_text p{
    padding: 50px;
    font-size: large;

}
.section1 p{
    margin-bottom: 30rem;
    font-size: 20px;
}

.footer-cols{
    display: flex;
    flex-direction: row;
    background-color:#4A6572;
    color: black;
   
}
.footer-cols a{
    color: black;
}
.footer-cols ol, ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 100px;
   color: rgb(255, 255, 255);
}
.footer-cols ul li{
    margin: 5px;
    margin-top: 10px;
    font-family: sans-serif;
}
.footer-cols a{
    margin: 5px;
}

.whats-new1 h2{
    text-align: center;
}
.circle-img-first{
width: 20px;
height: 20px;

}
.whats-new{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 60px;
}
/* .whats-new11 h3,p{
    margin-bottom: 45px;
    text-align: center;
} */
.footer-bottom{
    margin-top: 15px;
    margin-bottom: 15px;
}
.whats-new14 p{
    margin-left: 17px;
    text-align: center;
}
.whats-new13 p{
    margin-left: 17px;
    text-align: center;
}
.whats-new12 p{
    margin-left: 17px;
    text-align: center;
}
.whats-new11 p{
    margin-left: 17px;
     text-align: center;
}

/* .btn2 a{
    margin-top: 20px;
    margin-bottom: 20px;
} 

.navbar-header{
background-color: #424246;
background-color: rgb(2, 2, 2);
color: blanchedalmond;
}

.navbar-header a{
    margin: auto;
    text-decoration: none;
    color: white;
    padding: 4px 4px 4px 4px;
    border-radius: 2.5px;
    
    margin-top: 24px;
    margin-left: 62px;
    color: rgb(219, 205, 205);
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
    margin-bottom: 36px;
}


.navbar-nav > li {
    margin-left: 100px;
    padding: 1px;
    padding: 4px 4px 4px 4px;
}
.navbar-nav li:hover{
    background-color: darkgray;
    padding: 4px;
    padding: 4px 4px 4px 4px;
}
.navbar-default{
    background-color: black;
    border-bottom-width: 0px;
}
.navbar-default .navbar-nav > li > a {
    color: rgb(228, 212, 212);
    font-weight: 300;

}

.header{
    background-image: url(img1.png);
    
    height: 800px;
}
.p1 h1{
    text-align: center;
    color: blanchedalmond;
    margin-top:-21px;
    padding-top: 162px;
    font-size: 6rem;
}
.p1 p{
    font-size: 2rem;
    color: blanchedalmond;
    text-align: center;
}
.page2{
    background-color: darkgray;
}
.page2 h1{
    font-size: 6rem;
    text-align: center;
    margin-top: 0px;
}
.page2 h3{
    text-align: center;
}

.btn{
    margin-top: 2rem;
    margin-left: 600px;
    margin-bottom: 2rem;
    padding: 15px;
    align-items: center;
}
.lead{
    text-align: center;
}
.section h3{
    text-align: center;
}
.btn1{
    margin-top: 2rem;
    margin-left: 550px;
    margin-bottom: 2rem;
    padding: 15px;
    align-items: center;
}
#entertainment{
    background-image: url(https://jolly-kalam-23776e.netlify.app/mytunes/img/section-bg.jpeg);
    color: antiquewhite;
}
.section1{
    text-align: center;
    margin-top: 150px;
}
.section1 h3{
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.section1 p{
    margin-bottom: 30rem;
    font-size: 20px;
}

.footer-cols{
    display: flex;
    flex-direction: row;
   
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 95px;
   
}
footer{
    background-color: grey;

}
a{
    color: #000000;
} */